.Header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: darkcyan;
  color:black;
  margin-inline: 1rem;
  padding-inline: 1rem;
}
.NavItems {
  width: 30%;
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  font-weight: bold;
}